.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.change-color-button {
  background-color: #33ffd1;
  border: none;
  padding: 7px;
  height: 30px;
  width: 100px;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}
